*{
  margin: 0;
  padding: 0;
}
#page{
  box-sizing: border-box;
  width: 1120px;
  margin: 88px auto 137px;
}
main img{
  border-radius: 28px;
  height: 350px;
}
#description img{
  height: 660px;
}
footer{
  text-align: center;
}
footer img{
  vertical-align: middle;
}